body {
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
  }
  
  header {
    background-color: #003087;
    color: white;
    padding: 30px;
    text-align: center;
  }
  
  nav {
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #C0C0C0;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #003087;
  }
  
  .article-title {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #C0C0C0;
    margin-bottom: 20px;
  }
  
  article {
    padding: 0 20px 20px;
  }
  